*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bool-light: white;
    --bool-gray: gray;
}
header{
    background-color: var(--bool-light);
    height: 150px;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--bool-gray);
}


