*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bool-light: white;
    --bool-gray: rgb(238, 233, 233);
}
header{
    background-color: var(--bool-light);
    height: 150px;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: var(--bool-gray);
}
.button_task{
    background-color: aqua;
}
.el{
    width: 80px;
    height: 60px;
}
.title{
    line-height: 150px;
    vertical-align: middle;
    display: inline-block;
}